*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Pacifico', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
    border-radius: 10px;

  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: skyblue;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    cursor:pointer;
    font-size: 22px;
    font-family: 'Pacifico', sans-serif;
  }

  a{
      text-decoration: none;
      color:#FFF;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
    text-decoration: solid;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: skyblue;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }
  